@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    width: 975px;
    margin: 58px 70px;
}

.container .card {
    padding: 40px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    height: 500px;
    position: relative;
    flex-basis: 325px;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    font-size: 40px;
}

p {
    line-height: 1.7;
    margin: 15px 0 70px 0
}

.container .card:first-child {
    background-color: hsl(31, 77%, 52%);
}

.container .card:first-child button{
    color: hsl(31, 77%, 52%);
}

.container .card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.container .card:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}

.container .card:last-child {
    background-color: hsl(179, 100%, 13%);
}

.container .card:last-child button{
    color: hsl(179, 100%, 13%);
}

button {
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    height: 45px;
    font-family: inherit;
    position: absolute;
    bottom: 45px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

main .container .card button:hover {
    background-color: transparent;
    color: #fff;
}

button:focus {
    outline: none;
}

@media (max-width: 990px) {
    .container {
        flex-direction: column;
        width: 275px;
        margin: 80px 20px;
    }

    main {
        box-shadow: none;
    }
}